@mainColor:#273b2d;
@secondColor:#134120;
@thirthColor:rgb(105, 141, 116);
@fourthColor:#9CA59F;
@fifthColor:#C4C9C5;
@sixthColor:#EBEDEB;
@mainFont:'Avenir', Helvetica, Arial, sans-serif;
@secondFont:'tengxiangkai';
@thirdFont:'liukai';

.search{
  display: flex;
  .el-input__inner, .el-button {
    border-radius: 0px;
    border-color: @thirthColor;
    height: 5.5vh;
  }
  .el-input{
    font-size: 2vh;
  }
  // 搜索栏
  .el-input__inner{
    border-right: none;
  }
  .searchInput{
    .el-input__inner{
      border-left: 0px;
    }
  }
  // 搜索选项
  .el-select .el-input__inner:hover{
    border-color: @fourthColor;
  }
  .el-input__inner:focus{
    border-color: @thirthColor;
  }
  .el-select .el-icon-arrow-up{
    line-height: 5.5vh;
  }
  .el-select .el-input.is-focus .el-input__inner{
    border-color: @fourthColor;
  }
  // 搜索按钮
  .el-button{
    background-color: @secondColor;
    width: 15%;
    color:white;
    border: none;
    padding: 0;
    line-height: 5vh;
    font-size: 2vh;
  }
  .el-button:hover,.el-button:focus{
    background-color: @thirthColor;
  }
}
.postCard{
  .el-tab-pane{
    transition: .5s;
  }
  .el-tabs__header{
    margin: 0;
    // border-bottom: 1px solid @mainColor;
    border:none;
  }
  .el-tabs__content{
    padding-bottom: 10px;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__nav{
    border: none;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item{
    border:none;
    border-top: 3px solid #fff;
    border-bottom:1px solid @mainColor;
    width: 50%;
  }
  .el-tabs__nav{
    width: 100%;
  }
  .el-tabs__item:hover{
    color:@thirthColor;
  }
  .el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
    background-color: @mainColor;
    border-top:3px solid @thirthColor;
  }
  .el-menu-item{
    font-family: @thirdFont;
    font-size: 18px;
  }
  .el-menu-item.is-active{
    background-color: @mainColor;
  }
}

.el-select-dropdown__item.selected{
  color: @thirthColor;
}

.el-input__inner.copy-input{
  display: inline-block;
  width: 12vw;
  border: 1px solid @secondColor;
  height: 4vh;
  line-height: 4vh;
  padding: 0 0.5vw;
  font-size: 1.6vh;
}


.el-message .el-message__content{
  color:@thirthColor;
  display: inline-block;
  margin-left: 3vw;
}
.el-self-message{
  background-color: #fff;
  border-color: @sixthColor;
  background-color: @sixthColor;
  padding: 1vw 2vw;
}
.articles{
  
}